extends ../shared/template

block content

  h3= task.title
  //- table
  //-   thead
  //-     tbody
  //-       tr
  //-         td= task.title
  //-         td= task.color
  //-         td= task.due
