extends ../shared/template

block content
  h1= user.email
  #userId(data-id='#{user._id}')

  form
    input(type='text', name='title', placeholder='Title')
    input(type='date', name='date')
    input(type='color', name='color')
    button#create-task + Task

  #task-table
